.booking-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.booking-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.booking-dates {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.booking-dates label {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.booking-date-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.booking-button {
  background-color: #ff385c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.booking-button:hover {
  background-color: #e5004f;
}

.create-booking-container {
  /* Updated class name */
  margin-top: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid black; /* Added border style */
}

.errors-list {
  list-style-type: none;
  color: red;
}

.booking-form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-body-container {
  display: flex;
  justify-content: center;
}

.form-body {
  width: 300px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.booking-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.button {
  background-color: #ff385c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #e5004f;
}
