.spot-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.fa-award {
  /* padding: 4px; */
  margin: 2px;
  display: flex;
  align-items: center;
}



.review-count {
  display: flex;
  margin: 2px;
  padding: 6px;
}

.entire-home-description {
  color: rgb(239, 137, 154);
}

.owner-container {
  border-bottom: 1px solid gray;
  margin: 2px;
  margin-bottom: 6px;
}

.house-stats {
  padding: 3px;
  margin: 2px;
  margin-bottom: 6px;
  display: flex;
}

.owner-superhost {
  font-size: 25px;
  font-weight: bold;
  color: rgb(239, 137, 154);
}