.spot-card-rating-right {
  justify-content: justify;
}

.spot-image-homepage {
  border-radius: 10px;
  width: 300px;
  object-fit: center;
  padding: 1em;
  padding-top: 1em;
}

#spot-cards {
  display: flex;
  /* justify-content: center; */
  gap: 3;
  flex-wrap: wrap;
  /* padding: 2rem; */
}

.spot-card {
  text-align: left;
  padding-left: 2em;
  color: rgb(244, 135, 153);
}
h1 {
  text-align: center;
  display:flex;
  color: rgb(219, 178, 127);
}
body {
  background-color: bisque;
}
