.spot-card-rating-right {
  display: flex;
  align-items: center;
  /* margin-bottom: 8px; */
  justify-content: space-between;
  /* justify-content: right; */
}

.spot-card-price-left {
  display: flex;
  justify-content: left;
}

.spot-card-name-middle {
  /* font-size: 24px; */
  font-weight: 600;
  color: #444444;
  margin-bottom: 8px;
  display: flex;
  /* justify-content: center; */
  /* float: left; */
  align-items: center;
  color: rgb(124, 124, 194);
}

.spot-image-homepage {
  /* border: 2px purple solid; */
  border-radius: 10px;
  width: 300px;
  height: 300px;
  object-fit: center;
  /* padding: 1em; */
  /* padding-top: 1em; */
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.spots-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-star:before {
  display: flex;
  justify-content: justify;
  flex-direction: row;
}

#spot-cards {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.spot-cards-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
  margin: 4px;
  /* row-gap: 25px; */
  /* column-gap: 25px; */
}
.spot-image-homepage:hover {
  box-shadow: 0px 0px 10px rgb(94, 94, 94); /* add a shadow to the box on hover */
  cursor: pointer;
}

.spot-card {
    display: flex;
    /* float: right; */
    /* flex-wrap: wrap; */
    /* font-size: 10px; */
    object-fit: cover;
    justify-content: left;
}
/* body {
  background-color: rgb(226, 233, 210);
  display: flex;
} */
