.hidden {
  display: none;
}

.fa-bars {
  display: flex;
  padding: 3px;
  margin: 2px;
  font-size: 20px;
}
.fa-user-circle {
  display: flex;
  padding: 3px;
  margin: 2px;
  font-size: 20px;
}
.cloudy {
  color: darkcyan;
}

.profile-open-button {
  /* border: 3px solid orange; */
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
}

.link-to-home-active {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.logo {
  width: 80px;
  align-items: center;
  cursor: pointer;
  /* height: 16px; */
}

.profile {
  /* border: 3px solid green; */
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding: 8px;
  position: relative;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

/* .profile-container {
  justify-content: space-evenly;
  display: flex;
  width: 100px;
} */

.profile-nav {
  border-radius: 2em;
  /* padding: 1em; */
  /* margin: 3px; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-right: 6px;
  /* width: 100px */
  /* gap: 2; */
}
*/ .fa-bars:before {
  padding: 10px;
}
.login-title {
  font-size: 20px;
}

.username-input {
  /* background-color: rgb(217, 214, 214);; */
  padding: 10px;
  /* margin: 2px; */
}
#modal-content {
  background-color: bisque;
}

.username-input-box {
  padding: 2px;
  margin: 2px;
}

.home-page {
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 2px solid lightslategray;
  width: 100%;
  /* margin: 10px; */
  /* padding: 10px; */
  /* border: black 1px solid; */
}

.cloudbnb { 
  display: flex;
  flex-direction: row;
  position: relative;
}
.create-new-listing {
  display: flex;
  flex-direction: row;
 
  width: 170px;
  align-items: center;
  justify-content: flex-end;
}

.profile-dropdown {
  border: 1px solid gray;
  position:absolute;
  right: 15px;
  top: 60px;
  padding: 20px;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-button {
  padding: 5px;
  margin: 5px;
}

.demo-login-submit-button {
  padding: 5px;
  margin: 5px;
}

.logout-button {
background-color: beige;
border-radius: 3em;
width: 100%;
display: block;
align-items: center;
justify-content: center;
}