.profile-dropdown {
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 15px;
  top: 60px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 200px;
  text-align: left;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, transform 0.2s;
  transform-origin: top;
}

.profile-dropdown.show {
  opacity: 1;
  transform: translateY(0);
}

.profile-dropdown span {
  display: block;
  margin: 12px 0;
  padding: 0 20px;
  font-size: 16px;
  color: #484848;
}

.profile-dropdown button {
  width: 100%;
  padding: 16px 20px;
  background-color: transparent;
  border: none;
  color: #484848;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.profile-dropdown button:hover {
  background-color: #f7f7f7;
  color: #ff385c;
}

.linkedin-button {
  display: block;
  background-color: transparent;
  border: none;
  color: #008489;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 20px;
  transition: color 0.2s;
}

.linkedin-button:hover {
  color: #006c70;
}

.github-button {
  display: block;
  background-color: transparent;
  border: none;
  color: #484848;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 20px;
  transition: color 0.2s;
}

.github-button:hover {
  color: #ff385c;
}

.profile-dropdown div {
  border-top: 1px solid #f7f7f7;
}

.logout-button {
  color: #ff385c;
}

.logout-button:hover {
  color: #ff0047;
}
.github-button {
  display: block;
  background-color: transparent;
  border: none;
  color: #484848;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 20px;
  transition: color 0.2s;
  text-align: center;
  text-decoration: none;
}

.github-button:hover {
  color: #ff385c;
}
