/* profilebutton.css */

.profile-dropdown {
  list-style-type: none; /* Remove bullet points */
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 15px;
  top: 60px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 200px;
  text-align: left;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, transform 0.2s;
  transform-origin: top;
  cursor: pointer;
}

.profile-dropdown.show {
  opacity: 1;
  transform: translateY(0);
}

.profile-dropdown span {
  display: block;
  margin: 12px 0;
  padding: 0 20px;
  font-size: 14px;
  color: #484848;
}

.profile-dropdown button {
  width: 100%;
  padding: 12px;
  background-color: #008489;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profile-dropdown button:hover {
  background-color: #006C70;
}

.my-bookings,
.my-reviews {
  display: block;
  padding: 12px 20px;
  margin: 5px 0;
  font-size: 14px;
  color: #484848;
  cursor: pointer;
  transition: background-color 0.2s;
}

.my-bookings:hover,
.my-reviews:hover {
  background-color: rgba(0, 132, 137, 0.1);
}

.linkedin-button {
  display: block;
  background-color: transparent;
  border: none;
  color: #008489;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 20px;
  transition: color 0.2s;
}

.linkedin-button:hover {
  color: #006C70;
}

/* Add any additional styling based on your design preferences */
