.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px; 
  margin: 0 auto; 
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#login-form-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 28px;
  color: rgb(48, 113, 66); /* Use the primary color for the title */
}

#welcome-back-login {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

#login-input-title {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(48, 113, 66); /* Use the primary color for input titles */
}

#login-form-inputs {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
}

#login-form-inputs:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: rgb(240, 240, 240); 
}

.login-submit-button,
.demo-login-submit-button {
  color: white;
  background-color: rgb(48, 113, 66); 
  height: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.login-submit-button:hover,
.demo-login-submit-button:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.login-errors {
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}